/* 這邊放共用的css(例如：header、footer) */
.my-header{
    position: fixed;
    left:0px;
    top:0px;
    display: flex;
    width: 100%;
    background-color:rgb(190, 186, 210);
    z-index: 1;
    height: 75px;
    
}
.header-h1{
    width: 15%;
    /* margin: 5px; */
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 50px;
    font-family: "Jaro", sans-serif;
    font-weight: 900; 
    color:rgb(54, 56, 68);
    text-decoration: none;
    line-height: 75px;
}

.my-navbar{
    width: 40%;
    /* background-color: rgb(168, 171, 184); */
    float: left;
    
}
.my-navbar>ul{
    
    list-style-type: none;
}
.my-navbar>ul>li{
    width: 25%;
    float: left;
}
.my-navbar>ul>li>a {
    display: block; 
    width: 100%;
    height: 75px; 
    text-decoration: none; 
    color: black;
    letter-spacing: 1px; 
    font-size: 25px;
    text-align: center; 
    line-height: 75px; 
}

.my-navbar>ul>li>a:hover{
    background-color: #8b79a1;
}
 
.search-bar {
    width: 0;
    height: 40px;
    border-bottom-style: solid;
    border-color: #f4f4f4;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    box-sizing: border-box;
    background-color: rgb(190, 186, 210);
    margin-right: 12px;
    display: inline-block; /* 初始设置为内联块，便于动画 */
    position: absolute; /* 使其绝对定位 */
    top: 0px; /* 调整位置 */
    right: 50px; /* 调整位置，避免覆盖搜索图标 */
    z-index: 1000; /* 确保其覆盖在其他图标上 */
    opacity: 0; /* 初始透明度 */
    transition: width 0.4s ease, opacity 0.4s ease; /* 过渡效果 */
    font-size: 16px;
    padding: 8px;
}
.search-bar::placeholder {
    font-size: 16px; /* Placeholder 的字体大小 */
    font-weight: 500;
}
.search-bar:focus {
    border-bottom-color: rgba(255, 255, 255, 0.706); /* 点击时底部边框颜色变为绿色 */
    outline: none;
}

.social-icon {
    display: flex;
    justify-content: right;
    margin-top: 15px;
    height: 40px;
    width: 35%;
    margin-right: 20px;
    position: relative; /* 使其内部元素绝对定位相对于此元素 */
}

.social-icon > a > i {
    color: #49455b;
    font-size: 30px;
    line-height: 40px; /* 使其垂直居中 */
    letter-spacing: 20px;
}

.search-icon {
    position: relative;
    z-index: 1001; /* 确保搜索图标在搜索栏之上 */
}


.fa-magnifying-glass:hover{ color:floralwhite}
.fa-facebook:hover{ color:#4a74ca; }
.fa-youtube:hover{ color:rgb(215, 66, 66)}
.fa-instagram:hover{ color:rgb(193, 88, 193)}

.text-center{
    text-align: center;
}
footer{
    /* position: relative;   */
    bottom: 0;
    width: 100%; 
    margin-top: auto;
    background-color: #d7e9f5;
}
.footer-logo{
    font-family: "Jaro", sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
